In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_alumnos = pd.read_csv('Data/Base Aprender estudiantes 6 primaria 2022 – Muestral L y M.csv', sep=';')

/var/folders/py/f996dn15339gcpsqq98w6kd80000gn/T/ipykernel_84228/2403431140.py:1: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,111,112,113) have mixed types. Specify dtype option on import or set low_memory=False.
  df_alumnos = pd.read_csv('Data/Base Aprender estudiantes 6 primaria 2022 – Muestral L y M.csv', sep=';')

In [10]:
seleccion = df_alumnos[df_alumnos['jurisdiccion'] == 82]
seleccion['ambito'] = np.where(seleccion['ambito'] == 1, True, False)
seleccion['edadA_junio2022'] = pd.to_numeric(seleccion['edadA_junio2022'], errors='coerce')
seleccion['edadA_junio2022'] = ((seleccion['edadA_junio2022'] != 1) & (seleccion['edadA_junio2022'] != -9))
nuevo_data = pd.DataFrame({
    'indice': range(len(seleccion)),
    'dmat': seleccion['mdesemp'],
    'dlen': seleccion['ldesemp'],
    'arural': seleccion['ambito'],
    'mayor12': seleccion['edadA_junio2022']
})
asignaciones = {"1": "BAJO", "2": "BASICO", "3": "SATISFACTORIO", "4": "AVANZADO"}
nuevo_data['dmat'] = nuevo_data['dmat'].map(asignaciones)
nuevo_data['dlen'] = nuevo_data['dlen'].map(asignaciones)

/var/folders/py/f996dn15339gcpsqq98w6kd80000gn/T/ipykernel_84228/4236972948.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seleccion['ambito'] = np.where(seleccion['ambito'] == 1, True, False)
/var/folders/py/f996dn15339gcpsqq98w6kd80000gn/T/ipykernel_84228/4236972948.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seleccion['edadA_junio2022'] = pd.to_numeric(seleccion['edadA_junio2022'], errors='coerce')
/var/folders/py/f996dn15339gcpsqq98w6kd80000gn/T/ipykernel_84228/4236972948.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seleccion['edadA_junio2022'] = ((seleccion['edadA_junio2022'] != 1) & (seleccion['edadA_junio2022'] != -9))

In [11]:
nuevo_data

        indice           dmat           dlen  arural  mayor12
3520         0  SATISFACTORIO         BASICO   False     True
3521         1  SATISFACTORIO  SATISFACTORIO   False     True
3522         2         BASICO            NaN   False     True
3523         3  SATISFACTORIO         BASICO   False     True
3524         4  SATISFACTORIO       AVANZADO   False     True
...        ...            ...            ...     ...      ...
128415    7377         BASICO           BAJO   False     True
128416    7378            NaN            NaN   False     True
128417    7379            NaN           BAJO   False     True
128418    7380           BAJO         BASICO   False     True
128419    7381       AVANZADO  SATISFACTORIO    True     True

[7382 rows x 5 columns]

In [12]:
nuevo_data.to_json('Data/ej_8.json', orient='records')